*.sqlite*
# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache

# IDE / Editor
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Composer & NPM
composer.lock
package-lock.json
yarn.lock

# Logs & Cache
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
